In [ ]:
%%bash

# Instal Java
apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install PySpark
pip install -q pyspark

# Install Delta
pip install delta-spark

In [ ]:
from pyspark.sql import SQLContext
from pyspark import SparkContext
import os

os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages io.delta:delta-core_2.12:1.0.0 pyspark-shell'

sc = SparkContext()

spark = SQLContext(sc)

In [ ]:
from delta import *
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
            f'postgresql://postgres:{password_postgresql_RDS_AWS}@vini-database-teste-airflow.c3fuuzuq3h7j.us-east-1.rds.amazonaws.com:5432/viniairflowdb',
            echo = True)

engine.connect()

In [ ]:
nomes_tabelas = pd.read_sql_query(''' SELECT tablename,tableowner FROM pg_catalog.pg_tables where schemaname = 'public'; ''', engine)

In [91]:
nomes_tabelas

                 tablename tableowner
0  dimensao_localidades_SP   postgres
1               pnadc20203   postgres

In [ ]:
dimensao_localidades_SP = pd.read_sql_query(''' select * from "dimensao_localidades_SP" limit 10; ''', engine)

dimensao_localidades_SP_df = spark.createDataFrame(dimensao_localidades_SP)

dimensao_localidades_SP_df.write.format('delta')\
                          .save('/content/sample_data/dimensao_localidades_SP/')

spark.sql('''

CREATE TABLE dimensao_localidades_SP USING DELTA LOCATION '/content/sample_data/dimensao_localidades_SP/'

''')

In [ ]:
pnadc20203 = pd.read_sql_query(''' select * from "pnadc20203" limit 10; ''', engine)

pnadc20203_df = spark.createDataFrame(pnadc20203)

pnadc20203_df.write.format('delta')\
                   .save('/content/sample_data/pnadc20203/')

spark.sql(''' 

CREATE TABLE pnadc20203 USING DELTA LOCATION '/content/sample_data/pnadc20203/'

''')

In [94]:
spark.sql('''

select * from dimensao_localidades_SP

''').toPandas()

     id                   nome       dt_inclusao_registro
0  3501  São José do Rio Preto 2021-06-30 14:11:29.942307
1  3502         Ribeirão Preto 2021-06-30 14:11:29.942307
2  3503              Araçatuba 2021-06-30 14:11:29.942307
3  3504                  Bauru 2021-06-30 14:11:29.942307
4  3505             Araraquara 2021-06-30 14:11:29.942307
5  3506             Piracicaba 2021-06-30 14:11:29.942307
6  3507               Campinas 2021-06-30 14:11:29.942307
7  3508    Presidente Prudente 2021-06-30 14:11:29.942307
8  3509                Marília 2021-06-30 14:11:29.942307
9  3510                  Assis 2021-06-30 14:11:29.942307

In [95]:
spark.sql('''

select * from pnadc20203

''').toPandas()

                        _id   ano  ...  anosesco       dt_inclusao_registro
0  600ce0685daa95c6616007e1  2020  ...      15.0 2021-06-30 14:14:20.532267
1  600ce0685daa95c6616007e7  2020  ...      12.0 2021-06-30 14:14:20.532267
2  600ce0685daa95c6616007b9  2020  ...      12.0 2021-06-30 14:14:20.532267
3  600ce0685daa95c6616007ca  2020  ...       9.0 2021-06-30 14:14:20.532267
4  600ce0685daa95c6616007d5  2020  ...      16.0 2021-06-30 14:14:20.532267
5  600ce0685daa95c6616007b1  2020  ...      16.0 2021-06-30 14:14:20.532267
6  600ce0685daa95c6616007db  2020  ...      12.0 2021-06-30 14:14:20.532267
7  600ce0685daa95c6616007bf  2020  ...      16.0 2021-06-30 14:14:20.532267
8  600ce0685daa95c6616007cd  2020  ...      16.0 2021-06-30 14:14:20.532267
9  600ce0685daa95c6616007d9  2020  ...      14.0 2021-06-30 14:14:20.532267

[10 rows x 14 columns]