In [ ]:
%%bash

# Instal Java
apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install PySpark
pip install -q pyspark

# Install Delta
pip install delta-spark

In [ ]:
from pyspark.sql import SQLContext
from pyspark import SparkContext
import os

os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages io.delta:delta-core_2.12:1.0.0 pyspark-shell'

sc = SparkContext()

spark = SQLContext(sc)

In [ ]:
from delta import *
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
            f'postgresql://postgres:{password_postgresql_RDS_AWS}@vini-database-teste-airflow.c3fuuzuq3h7j.us-east-1.rds.amazonaws.com:5432/viniairflowdb',
            echo = True)

engine.connect()

In [ ]:
nomes_tabelas = pd.read_sql_query(''' SELECT tablename,tableowner FROM pg_catalog.pg_tables where schemaname = 'public'; ''', engine)

In [29]:
nomes_tabelas

                 tablename tableowner
0  dimensao_localidades_SP   postgres
1               pnadc20203   postgres

In [ ]:
dimensao_localidades_SP = pd.read_sql_query(''' select * from "dimensao_localidades_SP" limit 10; ''', engine)

In [ ]:
pnadc20203 = pd.read_sql_query(''' select * from "pnadc20203" limit 10; ''', engine)

In [32]:
dimensao_localidades_SP_df = spark.createDataFrame(dimensao_localidades_SP)
pnadc20203_df = spark.createDataFrame(pnadc20203)

In [18]:
dimensao_localidades_SP_df.write.partitionBy('dt_inclusao_registro')\
                          .format('delta')\
                          .save('/content/sample_data/dimensao_localidades_SP/')

In [19]:
pnadc20203_df.write.partitionBy('dt_inclusao_registro')\
                   .format('delta')\
                   .save('/content/sample_data/pnadc20203/')

In [33]:
spark.read.format('delta').load('/content/sample_data/dimensao_localidades_SP/').show(truncate=False)

+----+---------------------+--------------------------+
|id  |nome                 |dt_inclusao_registro      |
+----+---------------------+--------------------------+
|3501|São José do Rio Preto|2021-06-30 14:11:29.942307|
|3502|Ribeirão Preto       |2021-06-30 14:11:29.942307|
|3503|Araçatuba            |2021-06-30 14:11:29.942307|
|3504|Bauru                |2021-06-30 14:11:29.942307|
|3505|Araraquara           |2021-06-30 14:11:29.942307|
|3506|Piracicaba           |2021-06-30 14:11:29.942307|
|3507|Campinas             |2021-06-30 14:11:29.942307|
|3508|Presidente Prudente  |2021-06-30 14:11:29.942307|
|3509|Marília              |2021-06-30 14:11:29.942307|
|3510|Assis                |2021-06-30 14:11:29.942307|
+----+---------------------+--------------------------+

In [34]:
spark.read.format('delta').load('/content/sample_data/pnadc20203/').show(truncate=False)

+------------------------+----+---------+----+------+-----+------+---------+---------------------------------+----------------+------+---------+--------+--------------------------+
|_id                     |ano |trimestre|uf  |sexo  |idade|cor   |graduacao|trab                             |ocup            |renda |horastrab|anosesco|dt_inclusao_registro      |
+------------------------+----+---------+----+------+-----+------+---------+---------------------------------+----------------+------+---------+--------+--------------------------+
|600ce0685daa95c6616007e1|2020|3        |Acre|Mulher|35   |Parda |null     |Pessoas na força de trabalho     |Pessoas ocupadas|300.0 |15.0     |15.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007e7|2020|3        |Acre|Mulher|26   |Parda |Não      |Pessoas na força de trabalho     |Pessoas ocupadas|1600.0|40.0     |12.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007b9|2020|3        |Acre|Mulher|21   |Parda |null     |Pessoas fora da força de trabalho|null            |NaN   |NaN      |12.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007ca|2020|3        |Acre|Mulher|22   |Parda |null     |Pessoas fora da força de trabalho|null            |NaN   |NaN      |9.0     |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007d5|2020|3        |Acre|Mulher|28   |Parda |null     |Pessoas fora da força de trabalho|null            |NaN   |NaN      |16.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007b1|2020|3        |Acre|Mulher|35   |Parda |null     |Pessoas na força de trabalho     |Pessoas ocupadas|800.0 |36.0     |16.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007db|2020|3        |Acre|Mulher|40   |Parda |null     |Pessoas fora da força de trabalho|null            |NaN   |NaN      |12.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007bf|2020|3        |Acre|Mulher|30   |Branca|null     |Pessoas na força de trabalho     |Pessoas ocupadas|1049.0|44.0     |16.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007cd|2020|3        |Acre|Mulher|38   |Parda |null     |Pessoas fora da força de trabalho|null            |NaN   |NaN      |16.0    |2021-06-30 14:14:20.532267|
|600ce0685daa95c6616007d9|2020|3        |Acre|Mulher|31   |Branca|null     |Pessoas na força de trabalho     |Pessoas ocupadas|1200.0|44.0     |14.0    |2021-06-30 14:14:20.532267|
+------------------------+----+---------+----+------+-----+------+---------+---------------------------------+----------------+------+---------+--------+--------------------------+